/* Navigation items */
.nav-item {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

.nav-item:hover {
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 5;
}

.nav-item:selected {
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 5;
}

/* Category sections */
.section-style {
    -fx-background-color: #FFF;
    -fx-border-color: #a4a4a4;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.assessments-section-style {
    -fx-background-color: #FFF;
    -fx-border-color: #a4a4a4;
    -fx-border-width: 1px;
    -fx-padding: 20px;
    -fx-border-radius: 5px;
}

/* Buttons */
Button {
    -fx-background-color: #FFF;
    -fx-background-radius: 25px;
    -fx-border-color: #0071E3;
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-padding: 5px 20px;
    -fx-text-fill: #0071E3;
}

Button:hover {
    -fx-background-color: #0071E3;
    -fx-text-fill: #FFF;
}

.delete-button {
    -fx-border-color: #ff0f0fe1;
    -fx-background-radius: 25px;
    -fx-border-width: 1px;
    -fx-text-fill: #ff0f0fe1;
    -fx-border-radius: 25px;
}

.delete-button:hover {
    -fx-background-color: #ff0f0fe1;
    -fx-text-fill: #fff;
}

/* Drop down menu */
ComboBox {
    -fx-background-color: #FFF;
    -fx-border-color: #a4a4a4;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.tab {
    -fx-background-color: #FFF;
    /* -fx-border-color: #a4a4a4;
    -fx-border-width: 1px 1px 0 1px;  */
    /* -fx-border-radius: 5px; */
    /* -fx-padding: 10px; */
}

/* Display cards */
.card {
    -fx-background-color: #FFF;
    -fx-border-color: #a4a4a4;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

/*Highlight for selected student*/
.selected-student {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #2196F3;
    -fx-border-width: 2px;
}